<main class="py-10 lg:pl-22">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="mt-6 flex items-center justify-end gap-x-6">
              <button type="button" (click)="onReset()" class="text-sm font-semibold leading-6 text-gray-900">Abbrechen</button>
              <button type="button" (click)="onLoad()" class="text-sm font-semibold leading-6 text-gray-900">Load</button>
              <button type="submit" [disabled]="form.invalid"
                  class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Speichern</button>
          </div>
      </form>
</main>